:root {
    --bs-font-sans-serif: "IM Fell English", serif;
}

.bg {background-image: url("resources/images/kiwihug-3gifzboyZk0-unsplash.jpg");}

#worth-reading {
    text-align: center;
}

.black-border {
    border: 3px solid black;
}